#main {
	position:absolute;
	bottom:50px;
	left:0px;
	height:100%;
	overflow:auto;
	z-index:1;
}
#params_res_view {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	text-align:center;
	background:#ccc;
	z-index:2;
	overflow:hidden;
}

.navPoint {
	COLOR: white;
	CURSOR: hand;
	FONT-FAMILY: Webdings;
	FONT-SIZE: 10pt
}

ul.TabBarLevel {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 29px;
	background-image:
		url(/httpfilter/img/tabbar_level1_bk.gif);
}

ul.TabBarLevel li {
	float: left;
	padding: 0;
	height: 29px;
	margin-right: 1px;
	background:
		url(/httpfilter/img/tabbar_level1_slice_left_bk.gif)
		left top no-repeat;
	font-size: 9pt;
}

ul.TabBarLevel li a {
	display: block;
	line-height: 29px;
	padding: 0 20px;
	color: #333;
	background:
		url(/httpfilter/img/tabbar_level1_slice_right_bk.gif)
		right top no-repeat;
	white-space: nowrap;
	font-size: 9pt;
	/*font-weight: bold;*/
}

ul.TabBarLevel li.Selected {
	background:
		url(/httpfilter/img/tabbar_level1_slice_selected_left_bk.gif)
		left top no-repeat;
	font-size: 9pt;
}

ul.TabBarLevel li.Selected a {
	background:
		url(/httpfilter/img/tabbar_level1_slice_selected_right_bk.gif)
		right top no-repeat;
}

ul.TabBarLevel li a:link,ul.TabBarLevel li a:visited {
	color: #000;
	text-decoration: none;
}

ul.TabBarLevel li a:hover,ul.TabBarLevel li a:active {
	color: #F30;
	text-decoration: none;
}

ul.TabBarLevel li.Selected a:link,ul.TabBarLevel li.Selected a:visited {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 9pt;
}

ul.TabBarLevel li.Selected a:hover,ul.TabBarLevel li.Selected a:active {
	color: #000;
	text-decoration: none;
	font-size: 9pt;
}

div.HackBox {
	padding: 0px 0px;
	border-left: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	margin: 0;
	width: 100%;
	font-size: 12px;
	height: expression(document.body.clientHeight-80);
}